.page-title {
  font-size: 20px;
  font-weight: bold;
}
.page-interval {
  display: block;
  width: 100%;
  height: 10px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}
.page-nomb .ant-descriptions-title,
.page-nomb .ant-form-item,
.page-nomb.ant-descriptions-title,
.page-nomb.ant-form-item {
  margin-bottom: 0;
}
