


.ota_add_firmware_dialog{
    .ant-form-item{ 
        margin-bottom: 5px;
    }
    .topborder{
        border-top: 1px solid #e8e8e8;
        margin-top: 14px;
    }
    .upload-wrapper .upload .upload-desc{
        margin-top: 4px;
        line-height: 24px;
    }
    .filepathinpt{
        position: relative;
        left: 138px;
    }
    // .tabs{
    //     // padding-left: 24px;
    // }
    .ant-upload-list{
        display: none;
    }
    .noborderinpt{
        border: none;
        color: rgba(0, 0, 0, 0.85);
        padding: 0;
        background-color: #fff;
        cursor:text

    }
}
