@import './variables.scss';

.comm-title-search-box{
  .labeknam{
    font-size: 14px;
    
  }
  input{
    width: 120px;
  }
  select{
    width: 100px;
  }
}

.td-break{
  white-space: normal;
  word-break: break-word;
}

