
.page-scene-log{
    .select{
        margin-bottom: 18px;
    }
   
    .datepicker{
        min-width: 180px !important;
        input{
            width: 180px;
            margin: 0;
        }
    }
    .datepickerbeg{
        margin-left: -18px;
    }
    
}


