@charset 'utf-8';
.add-scheme {
  .ant-modal-footer {
    text-align: center;
    .ant-btn {
      padding: 4px 24px;
    }
  }
}
.add-scheme-modal {
  .step-box{
    width: 650px;
    margin: 12px auto 36px auto;
  }
}