@charset 'utf-8';
.module-add-scheme {
  .ant-modal-footer {
    text-align: center;
    .ant-btn {
      padding: 4px 24px;
    }
  }
}
.add-scheme-modal {
  .step-box{
    width: 650px;
    margin: 12px auto 36px auto;
  }
  .ant-modal-body{
    padding: 24px 40px 0;

  }
  .ant-tabs-bar {
    margin: 0;
    border: none;
  }
  .ant-tabs  .ant-tabs-nav{
    display: none;
  }

  .formbox{
    margin-top: 40px;
  }
}

.required-icon .ant-form-item-label::before,
.required-icon2::before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.noShow {
  display: none;
}